@tailwind base;
@tailwind components;
@tailwind utilities;

#Navitem li:hover{
    background-color: rgba(245, 51, 51, 0.864);
}

#Navitem li{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    border-radius:10px;
    transition: 2;
    
}.medium{
    display:none;
}.smalldevice{
    display:block;

}@media screen and (min-width: 728px) {
 #Navitem  
  li{
    width: 80px;
    height: auto;
    padding: 5px;
    margin-top:1px;

   
    }.smalldevice{
        display: none;
    }.medium{
        display:flex;
    }
}
.social li{
    width:auto;
    height: 40px;
    align-items: center;
    justify-content: center;
    

}
.white{
    color: #fff;
}.red{
    color: rgb(237, 51, 51);
}.aqua{
    color:aqua
}.backColor{
    background-color:rgba(35, 33, 29, 0.89);
}.About {
    background-repeat:no-repeat;
    
}::-webkit-scrollbar{
    display:none;
}
